*
{
	font-family: arial, sans-serif;
}

div
{
    text-align: center;

}
input
{
    margin:5px;
    width: 5%;
}

div.mazeDiv
{
    
    width: 33%;
    display: inline-table;
    text-align: center;
    margin: auto;
}
table
{
    border: 2px solid #282828;
    border-collapse:collapse;
    margin: auto;
    width: auto;
}

td
{
    background-clip: padding-box;
    width:10px;
    height:10px;
}
td.right
{
    border-right: 2px solid #282828;
    background-clip: padding-box;
}
td.bottom
{
    border-bottom: 2px solid #282828;
    background-clip: padding-box;
}

td.path
{
    background-color: rgb(253, 201, 105);
    background-clip: padding-box;
}
td.start
{
    background-color: rgb(57, 57, 255);
    background-clip: padding-box;
}
td.end
{
    background-color:rgb(255, 73, 73);
    background-clip: padding-box;
}
td.sol
{
    background-color: rgb(106, 255, 106);
    background-clip: padding-box;
}

button 
{
    color:white;
    background-color: #2d89ef;
    border: 2px solid #2d89ef;
    padding: 8px 16px;
    font-size: 18px;
    border-radius: 8px;
}

button:hover 
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.15) 0 0);
}

footer 
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #2d89ef;
}

span
{
    width:50%;
    padding:15%;
}